name: Docker Testing
on: push

jobs:
    test-docker-container:
        runs-on: ubuntu-latest
        container:
            image: node:18-alpine
            env:
                NODE_ENV: development
            ports:
                - 80:80
        steps:
          - name: Display node version
            run: | 
                node -v
                cat /etc/os-release